<!DOCTYPE html>
<html>
<head>
  <title>UsRails</title>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- START PAGE SIDEBAR -->
<% if user_signed_in? %>
    <%#= render 'layouts/navbar_admin' %>
<% end %>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-danger flash-popup", role: "alert" %>
<% end %>

<!-- PAGE CONTENT -->
<div class="page-container">

  <%= yield %>

  <%= javascript_include_tag 'admin' %>
</div>
</body>
</html>
