<!DOCTYPE html>
<html>
<head>
  <title>UsRails</title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- START PAGE SIDEBAR -->
<% if user_signed_in? %>
    <%= render 'layouts/navbar_admin' %>
<% end %>

<!-- PAGE CONTENT -->
<div class="page-container">

  <%= yield %>

</div>
</body>
</html>
