<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<html>
<head>
  <title>UsRails</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home-page">
<div class="wrapper">

  <!-- ******HEADER****** -->
  <header class="header">
    <%= render 'layouts/header_public' %>
  </header><!--//header-->

  <!-- ******NAV****** -->
  <nav class="main-nav" role="navigation">
    <div class="container">
      <%= render 'layouts/nav_public' %>
    </div><!--//container-->
  </nav><!--//main-nav-->

  <!-- ******CONTENT****** -->
  <div class="content container">

    <%= yield %>

  </div><!--//content-->
</div><!--//wrapper-->

<!-- ******FOOTER****** -->
<footer class="footer">
  <%= render 'layouts/footer_public' %>
</footer><!--//footer-->

<!-- *****CONFIGURE STYLE****** -->
<!--<div class="config-wrapper hidden-xs">
  <div class="config-wrapper-inner">
    <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>
    <div id="config-panel" class="config-panel">
      <p>Choose Colour</p>
      <ul id="color-options" class="list-unstyled list-inline">
        <li class="default active">
          <a data-style="assets/css/styles.css" data-logo="assets/images/logo.png" href="#"></a></li>
        <li class="green">
          <a data-style="assets/css/styles-green.css" data-logo="assets/images/logo-green.png" href="#"></a></li>
        <li class="purple">
          <a data-style="assets/css/styles-purple.css" data-logo="assets/images/logo-purple.png" href="#"></a></li>
        <li class="red"><a data-style="assets/css/styles-red.css" data-logo="assets/images/logo-red.png" href="#"></a>
        </li>
      </ul>&lt;!&ndash;//color-options&ndash;&gt;
      <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
    </div>&lt;!&ndash;//configure-panel&ndash;&gt;
  </div>&lt;!&ndash;//config-wrapper-inner&ndash;&gt;
</div>&lt;!&ndash;//config-wrapper&ndash;&gt;-->

<!-- Javascript -->

</body>
</html>

